h1{
    color: navy;
    text-align: center;
    display: inline-block;
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif
    ;
}
h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
body{
    margin: 2em;
}
body, input[type='text'], button{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}